[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://github.com/gcardozo123/sdl2-cmake-modules.git
[submodule "third_party/flecs"]
	path = third_party/flecs
	url = https://github.com/SanderMertens/flecs.git
