[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://github.com/gcardozo123/sdl2-cmake-modules.git
[submodule "third_party/entt"]
	path = third_party/entt
	url = https://github.com/skypjack/entt.git
